<!doctype html>
<html lang="ko">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet"  type="text/css" href={{ url_for('static', filename='bootstrap/bootstrap.min.css') }}>
    <title>index</title>

  </head>

  <body>

{% include 'topmenu.html' %}

{%  block contents %}
      <!-- 수정해야할 부분 -->
{% endblock contents %}



<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/jquery-3.4.1.min.js') }}" ></script>
  </body>
</html>