<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light">
      <div class="col-md-6">
          <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    =
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Home</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">전문의 목록으로 전문의 찾기</a>
      <a class="dropdown-item" href="#">우리동네 전문의</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">분석 개요</a>
      <a class="dropdown-item" href="#">분석 데이터</a>
      <a class="dropdown-item" href="#">분석 기법</a>
      <a class="dropdown-item" href="#">검증</a>
  </div>
</div>
      </div>
        <a class="navbar-brand text-dark" href="#">LOGO</a>
      <div class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto">
                <form class="form-inline" action="/search">
                  <div class="form-group mx-sm-6">
                    <input type="text" class="form-control"  name="search" placeholder="치과 관련 검색">
                  </div>
                    <input type="submit" class="btn btn-outline-success m-lg-2" value="검색"></input>
                </form>
          </div>
      </div>
</nav>